.container-kl {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #333;
    margin-bottom: 50px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  input[type="text"], input[type="number"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
  }

  button {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
  }